<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wondersgroup.materiel.encoding.dao.MaterielDeviceMapper" >
  <resultMap id="BaseResultMap" type="com.wondersgroup.materiel.encoding.vo.MaterielDevice" >
  	<result column="RKEY" property="rkey" jdbcType="VARCHAR" />
    <result column="LargeClass" property="largeclass" jdbcType="VARCHAR" />
    <result column="LargeClassName" property="largeclassname" jdbcType="VARCHAR" />
    <result column="SmallClass" property="smallclass" jdbcType="VARCHAR" />
    <result column="SmallClassName" property="smallclassname" jdbcType="VARCHAR" />
    <result column="SmallInformation" property="smallinformation" jdbcType="VARCHAR" />
    <result column="Manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="ErpCode" property="erpcode" jdbcType="VARCHAR" />
    <result column="Valid" property="valid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    LargeClass, LargeClassName, SmallClass, SmallClassName, SmallInformation, Manufacturer, 
    ErpCode, Valid
  </sql>
  <insert id="insert" parameterType="com.wondersgroup.materiel.encoding.vo.MaterielDevice" >
    insert into materiel_device (LargeClass, LargeClassName, SmallClass, 
      SmallClassName, SmallInformation, Manufacturer, 
      ErpCode, Valid)
    values (#{largeclass,jdbcType=VARCHAR}, #{largeclassname,jdbcType=VARCHAR}, #{smallclass,jdbcType=VARCHAR}, 
      #{smallclassname,jdbcType=VARCHAR}, #{smallinformation,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{erpcode,jdbcType=VARCHAR}, #{valid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wondersgroup.materiel.encoding.vo.MaterielDevice" >
    insert into materiel_device
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="largeclass != null" >
        LargeClass,
      </if>
      <if test="largeclassname != null" >
        LargeClassName,
      </if>
      <if test="smallclass != null" >
        SmallClass,
      </if>
      <if test="smallclassname != null" >
        SmallClassName,
      </if>
      <if test="smallinformation != null" >
        SmallInformation,
      </if>
      <if test="manufacturer != null" >
        Manufacturer,
      </if>
      <if test="erpcode != null" >
        ErpCode,
      </if>
      <if test="valid != null" >
        Valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="largeclass != null" >
        #{largeclass,jdbcType=VARCHAR},
      </if>
      <if test="largeclassname != null" >
        #{largeclassname,jdbcType=VARCHAR},
      </if>
      <if test="smallclass != null" >
        #{smallclass,jdbcType=VARCHAR},
      </if>
      <if test="smallclassname != null" >
        #{smallclassname,jdbcType=VARCHAR},
      </if>
      <if test="smallinformation != null" >
        #{smallinformation,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="erpcode != null" >
        #{erpcode,jdbcType=VARCHAR},
      </if>
      <if test="valid != null" >
        #{valid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <select id="getMaxClass" resultMap="BaseResultMap" >
  	select DISTINCT a.LargeClass,a.LargeClassName from materiel_device a
  </select>
  
  <select id="getMinClass" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select b.RKEY,a.*  from materiel_device a ,materiel_prod b
	where b.PROD_CODE=a.ErpCode
	and  a.LargeClass=#{LargeClass}
  </select>
  
  <select id="getUnit" resultType="com.wondersgroup.materiel.encoding.vo.Units">
  	select *  from materiel_unit 
  </select>
  
  
  <select id="getSupplier" resultType="com.wondersgroup.materiel.encoding.vo.MaterielSupplier">
  	select *  from Materiel_Supplier
  </select>
  
  <select id="getWLMS" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select a.* from materiel_device a,materiel_prod b where a.ErpCode=b.PROD_CODE
	and b.RKEY=#{key}
  </select>
  
</mapper>