<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wondersgroup.materiel.encoding.brandManagement.dao.MaterielBrandMapper" >
  <resultMap id="BaseResultMap" type="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="brandname" property="brandname" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="removed" property="removed" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, brandname, remark, removed, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from materiel_brand
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from materiel_brand
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
    insert into materiel_brand (id, brandname, remark, 
      removed, status)
    values (#{id,jdbcType=INTEGER}, #{brandname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{removed,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
    insert into materiel_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="brandname != null" >
        brandname,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="removed != null" >
        removed,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="brandname != null" >
        #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="removed != null" >
        #{removed,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
    update materiel_brand
    <set >
      <if test="brandname != null" >
        brandname = #{brandname,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="removed != null" >
        removed = #{removed,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
    update materiel_brand
    set brandname = #{brandname,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      removed = #{removed,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    DISTINCT  a.*
    from materiel_brand  a
	LEFT JOIN materiel_brand_supplier b ON a.id = b.brandid and b.removed = 0
		WHERE
		a.removed = 0
     <if test="supplierid != null and supplierid!=''" >
       and b.supplierid =#{supplierid}
     </if>
     <if test="brandname != null and brandname!=''" >
        and brandname like concat('%',#{brandname},'%')
     </if>
    order by a.id desc
    limit #{start},#{row}
  </select>
  <select id="getPageCount" resultType="Integer" parameterType="java.util.Map" >
    select count(*) from (
    select 
    DISTINCT a.*
    from materiel_brand  a
	LEFT JOIN materiel_brand_supplier b ON a.id = b.brandid and b.removed = 0
		WHERE
		a.removed = 0
     <if test="supplierid != null and supplierid!=''" >
       and b.supplierid =#{supplierid}
     </if>
     <if test="brandname != null and brandname!=''" >
        and brandname like concat('%',#{brandname},'%')
     </if>
    ) g
  </select>
  <select id="getProdSupper" resultMap="BaseResultMap" parameterType="java.util.Map">
  	select * from materiel_brand  a where 1=1 order by  a.id
  </select>
  <select id="getProdSupperId" resultMap="BaseResultMap" parameterType="String" >
  	select a.* from materiel_brand a where 1=1 and a.brandname=#{brandname}
  	limit 0,1
  </select>
  
  <select id="countBrandname" resultType="Integer" parameterType="com.wondersgroup.materiel.encoding.brandManagement.vo.MaterielBrand" >
  		select count(*) from materiel_brand a where a.brandname=#{brandname}
  		<if test="id != null and id!=''" >
        and id!=#{id}
     	</if>
  </select>
  
  
  <select id="queryClassBrandPage" resultMap="BaseResultMap" parameterType="java.util.Map" >
   select  DISTINCT d.* from materiel_brand d LEFT JOIN materiel_smallclass_brand a on  d.id=a.brandid
	and   a.removed=0 where  d.removed=0
	 <if test="brandname != null and brandname!=''" >
        and d.brandname=#{brandname}
     </if>
     <if test="smallclassid != null and smallclassid!=''" >
        and a.smallclassid=#{smallclassid}
     </if>
    order by d.id 
    limit #{start},#{row}
  </select>
  <select id="queryClassBrandCount" resultType="Integer" parameterType="java.util.Map" >
    select count(*) from (select  DISTINCT d.* from materiel_brand d LEFT JOIN materiel_smallclass_brand a on  d.id=a.brandid
	and   a.removed=0 where  d.removed=0
	 <if test="brandname != null and brandname!=''" >
        and d.brandname=#{brandname}
     </if>
     <if test="smallclassid != null and smallclassid!=''" >
        and a.smallclassid=#{smallclassid}
     </if>)g
  </select>
  
  
  <select id="queryClassBrandPre" resultMap="BaseResultMap" parameterType="java.util.Map" >
   select  DISTINCT d.* from materiel_brand d LEFT JOIN materiel_smallclass_brand a on  d.id=a.brandid
	and   a.removed=0 where  d.removed=0
	 <if test="brandname != null and brandname!=''" >
        and d.brandname=#{brandname}
     </if>
     <if test="smallclassid != null and smallclassid!=''" >
        and a.smallclassid=#{smallclassid}
     </if>
  </select>
</mapper>