<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wondersgroup.materiel.bomsys.bom.dao.MaterielBomMapper" >
  <resultMap id="BaseResultMap" type="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ecnid" property="ecnid" jdbcType="INTEGER" />
    <result column="productid" property="productid" jdbcType="INTEGER" />
    <result column="infoid" property="infoid" jdbcType="INTEGER" />
    <result column="cust_part_code" property="custPartCode" jdbcType="VARCHAR" />
    <result column="package_" property="package_" jdbcType="VARCHAR" />
    <result column="prod_supper" property="prodSupper" jdbcType="VARCHAR" />
    <result column="inv_part_description_c" property="invPartDescriptionC" jdbcType="VARCHAR" />
    <result column="how" property="how" jdbcType="INTEGER" />
    <result column="stock_unit_ptr" property="stockUnitPtr" jdbcType="VARCHAR" />
    <result column="smt_flag" property="smtFlag" jdbcType="VARCHAR" />
    <result column="bom_type" property="bomType" jdbcType="VARCHAR" />
    <result column="inv_part_number" property="invPartNumber" jdbcType="VARCHAR" />
    <result column="extra_desc" property="extraDesc" jdbcType="VARCHAR" />
    <result column="prod_code_sell_ptr" property="prodCodeSellPtr" jdbcType="VARCHAR" />
    <result column="purch_unit_ptr" property="purchUnitPtr" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="TIMESTAMP" />
    <result column="edit_userid" property="editUserid" jdbcType="INTEGER" />
    <result column="top" property="top" jdbcType="VARCHAR" />
    <result column="bottom" property="bottom" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="prodCodeSellPtrStr" property="prodCodeSellPtrStr" jdbcType="VARCHAR" />
    <result column="prodSupperStr" property="prodSupperStr" jdbcType="VARCHAR" />
    <result column="package_Str" property="package_Str" jdbcType="VARCHAR" />
    <result column="smtFlagStr" property="smtFlagStr" jdbcType="VARCHAR" />
    <result column="editUseridStr" property="editUseridStr" jdbcType="VARCHAR" />
    <result column="operation" property="operation" jdbcType="VARCHAR" />
    <result column="replacecode" property="replacecode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ecnid,productid,infoid, cust_part_code, package_, prod_supper, inv_part_description_c, how, 
    stock_unit_ptr, smt_flag, bom_type, inv_part_number, extra_desc, prod_code_sell_ptr, 
    purch_unit_ptr, edit_time, edit_userid, top, bottom, version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from materiel_bom
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from materiel_bom
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom" >
    insert into materiel_bom (id, productid, cust_part_code, 
      package_, prod_supper, inv_part_description_c, 
      how, stock_unit_ptr, smt_flag, 
      bom_type, inv_part_number, extra_desc, 
      prod_code_sell_ptr, purch_unit_ptr, edit_time, 
      edit_userid, top, bottom, 
      version)
    values (#{id,jdbcType=INTEGER}, #{productid,jdbcType=INTEGER}, #{custPartCode,jdbcType=VARCHAR}, 
      #{package_,jdbcType=VARCHAR}, #{prodSupper,jdbcType=VARCHAR}, #{invPartDescriptionC,jdbcType=VARCHAR}, 
      #{how,jdbcType=INTEGER}, #{stockUnitPtr,jdbcType=VARCHAR}, #{smtFlag,jdbcType=VARCHAR}, 
      #{bomType,jdbcType=VARCHAR}, #{invPartNumber,jdbcType=VARCHAR}, #{extraDesc,jdbcType=VARCHAR}, 
      #{prodCodeSellPtr,jdbcType=VARCHAR}, #{purchUnitPtr,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, 
      #{editUserid,jdbcType=INTEGER}, #{top,jdbcType=VARCHAR}, #{bottom,jdbcType=VARCHAR}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom"  useGeneratedKeys="true" keyProperty="id"  >
    insert into materiel_bom
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ecnid != null" >
        ecnid,
      </if>
      <if test="infoid != null" >
        infoid,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="custPartCode != null" >
        cust_part_code,
      </if>
      <if test="package_ != null" >
        package_,
      </if>
      <if test="prodSupper != null" >
        prod_supper,
      </if>
      <if test="invPartDescriptionC != null" >
        inv_part_description_c,
      </if>
      <if test="how != null" >
        how,
      </if>
      <if test="stockUnitPtr != null" >
        stock_unit_ptr,
      </if>
      <if test="smtFlag != null" >
        smt_flag,
      </if>
      <if test="bomType != null" >
        bom_type,
      </if>
      <if test="invPartNumber != null" >
        inv_part_number,
      </if>
      <if test="extraDesc != null" >
        extra_desc,
      </if>
      <if test="prodCodeSellPtr != null" >
        prod_code_sell_ptr,
      </if>
      <if test="purchUnitPtr != null" >
        purch_unit_ptr,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="editUserid != null" >
        edit_userid,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="bottom != null" >
        bottom,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="replacecode != null" >
        replacecode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ecnid != null" >
        #{ecnid,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="custPartCode != null" >
        #{custPartCode,jdbcType=VARCHAR},
      </if>
      <if test="package_ != null" >
        #{package_,jdbcType=VARCHAR},
      </if>
      <if test="prodSupper != null" >
        #{prodSupper,jdbcType=VARCHAR},
      </if>
      <if test="invPartDescriptionC != null" >
        #{invPartDescriptionC,jdbcType=VARCHAR},
      </if>
      <if test="how != null" >
        #{how,jdbcType=INTEGER},
      </if>
      <if test="stockUnitPtr != null" >
        #{stockUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="smtFlag != null" >
        #{smtFlag,jdbcType=VARCHAR},
      </if>
      <if test="bomType != null" >
        #{bomType,jdbcType=VARCHAR},
      </if>
      <if test="invPartNumber != null" >
        #{invPartNumber,jdbcType=VARCHAR},
      </if>
      <if test="extraDesc != null" >
        #{extraDesc,jdbcType=VARCHAR},
      </if>
      <if test="prodCodeSellPtr != null" >
        #{prodCodeSellPtr,jdbcType=VARCHAR},
      </if>
      <if test="purchUnitPtr != null" >
        #{purchUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserid != null" >
        #{editUserid,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        #{top,jdbcType=VARCHAR},
      </if>
      <if test="bottom != null" >
        #{bottom,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="replacecode != null" >
       #{replacecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
   <insert id="insertBomEdit" parameterType="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom" >
    insert into materiel_bom_edit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        productid,
      </if>
      <if test="ecnid != null" >
        ecnid,
      </if>
      <if test="infoid != null" >
        infoid,
      </if>
      <if test="custPartCode != null" >
        cust_part_code,
      </if>
      <if test="package_ != null" >
        package_,
      </if>
      <if test="prodSupper != null" >
        prod_supper,
      </if>
      <if test="invPartDescriptionC != null" >
        inv_part_description_c,
      </if>
      <if test="how != null" >
        how,
      </if>
      <if test="stockUnitPtr != null" >
        stock_unit_ptr,
      </if>
      <if test="smtFlag != null" >
        smt_flag,
      </if>
      <if test="bomType != null" >
        bom_type,
      </if>
      <if test="invPartNumber != null" >
        inv_part_number,
      </if>
      <if test="extraDesc != null" >
        extra_desc,
      </if>
      <if test="prodCodeSellPtr != null" >
        prod_code_sell_ptr,
      </if>
      <if test="purchUnitPtr != null" >
        purch_unit_ptr,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
      <if test="editUserid != null" >
        edit_userid,
      </if>
      <if test="top != null" >
        top,
      </if>
      <if test="bottom != null" >
        bottom,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="operation != null" >
        operation,
      </if>
      <if test="replacecode != null" >
        replacecode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productid != null" >
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="ecnid != null" >
        #{ecnid,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        #{infoid,jdbcType=INTEGER},
      </if>
      <if test="custPartCode != null" >
        #{custPartCode,jdbcType=VARCHAR},
      </if>
      <if test="package_ != null" >
        #{package_,jdbcType=VARCHAR},
      </if>
      <if test="prodSupper != null" >
        #{prodSupper,jdbcType=VARCHAR},
      </if>
      <if test="invPartDescriptionC != null" >
        #{invPartDescriptionC,jdbcType=VARCHAR},
      </if>
      <if test="how != null" >
        #{how,jdbcType=INTEGER},
      </if>
      <if test="stockUnitPtr != null" >
        #{stockUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="smtFlag != null" >
        #{smtFlag,jdbcType=VARCHAR},
      </if>
      <if test="bomType != null" >
        #{bomType,jdbcType=VARCHAR},
      </if>
      <if test="invPartNumber != null" >
        #{invPartNumber,jdbcType=VARCHAR},
      </if>
      <if test="extraDesc != null" >
        #{extraDesc,jdbcType=VARCHAR},
      </if>
      <if test="prodCodeSellPtr != null" >
        #{prodCodeSellPtr,jdbcType=VARCHAR},
      </if>
      <if test="purchUnitPtr != null" >
        #{purchUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserid != null" >
        #{editUserid,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        #{top,jdbcType=VARCHAR},
      </if>
      <if test="bottom != null" >
        #{bottom,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="replacecode != null" >
        #{replacecode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom" >
    update materiel_bom
    <set >
      <if test="productid != null" >
        productid = #{productid,jdbcType=INTEGER},
      </if>
      <if test="ecnid != null" >
        ecnid = #{ecnid,jdbcType=INTEGER},
      </if>
      <if test="infoid != null" >
        infoid = #{infoid,jdbcType=INTEGER},
      </if>
      <if test="custPartCode != null" >
        cust_part_code = #{custPartCode,jdbcType=VARCHAR},
      </if>
      <if test="package_ != null" >
        package_ = #{package_,jdbcType=VARCHAR},
      </if>
      <if test="prodSupper != null" >
        prod_supper = #{prodSupper,jdbcType=VARCHAR},
      </if>
      <if test="invPartDescriptionC != null" >
        inv_part_description_c = #{invPartDescriptionC,jdbcType=VARCHAR},
      </if>
      <if test="how != null" >
        how = #{how,jdbcType=INTEGER},
      </if>
      <if test="stockUnitPtr != null" >
        stock_unit_ptr = #{stockUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="smtFlag != null" >
        smt_flag = #{smtFlag,jdbcType=VARCHAR},
      </if>
      <if test="bomType != null" >
        bom_type = #{bomType,jdbcType=VARCHAR},
      </if>
      <if test="invPartNumber != null" >
        inv_part_number = #{invPartNumber,jdbcType=VARCHAR},
      </if>
      <if test="extraDesc != null" >
        extra_desc = #{extraDesc,jdbcType=VARCHAR},
      </if>
      <if test="prodCodeSellPtr != null" >
        prod_code_sell_ptr = #{prodCodeSellPtr,jdbcType=VARCHAR},
      </if>
      <if test="purchUnitPtr != null" >
        purch_unit_ptr = #{purchUnitPtr,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editUserid != null" >
        edit_userid = #{editUserid,jdbcType=INTEGER},
      </if>
      <if test="top != null" >
        top = #{top,jdbcType=VARCHAR},
      </if>
      <if test="bottom != null" >
        bottom = #{bottom,jdbcType=VARCHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="replacecode != null" >
        replacecode = #{replacecode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wondersgroup.materiel.bomsys.bom.vo.MaterielBom" >
    update materiel_bom
    set productid = #{productid,jdbcType=INTEGER},
      cust_part_code = #{custPartCode,jdbcType=VARCHAR},
      package_ = #{package_,jdbcType=VARCHAR},
      prod_supper = #{prodSupper,jdbcType=VARCHAR},
      inv_part_description_c = #{invPartDescriptionC,jdbcType=VARCHAR},
      how = #{how,jdbcType=INTEGER},
      stock_unit_ptr = #{stockUnitPtr,jdbcType=VARCHAR},
      smt_flag = #{smtFlag,jdbcType=VARCHAR},
      bom_type = #{bomType,jdbcType=VARCHAR},
      inv_part_number = #{invPartNumber,jdbcType=VARCHAR},
      extra_desc = #{extraDesc,jdbcType=VARCHAR},
      prod_code_sell_ptr = #{prodCodeSellPtr,jdbcType=VARCHAR},
      purch_unit_ptr = #{purchUnitPtr,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      edit_userid = #{editUserid,jdbcType=INTEGER},
      top = #{top,jdbcType=VARCHAR},
      bottom = #{bottom,jdbcType=VARCHAR},
      version = #{version,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryBom" resultMap="BaseResultMap" parameterType="java.util.Map" >
  		select CASE a.smt_flag WHEN '1' THEN  'SMT' WHEN '2' THEN 'DIP' WHEN '0' THEN '无' end smtFlagStr,
  		CASE a.bom_type WHEN '1' THEN (select
		y.classname from materiel_smallclass y
		where y.id=a.prod_code_sell_ptr
		) else
		(select f.name from dic_code_info f where
		f.code=a.prod_code_sell_ptr and
		f.type_code in('CP','BCP','XNCP')) end
		prodCodeSellPtrStr,
  		(select b.brandname from materiel_brand b where a.prod_supper=b.id ) prodSupperStr,
  		(select g.packagename from materiel_package g where g.id=a.package_ ) package_Str,
  		(select z.vsername from users z where z.id=a.edit_userid ) editUseridStr,a.* 
  		from materiel_bom a where 1=1
		and a.productid=#{productid}
  </select>
  
  <select id="queryBomEdit" resultMap="BaseResultMap" parameterType="java.util.Map" >
  		select CASE a.smt_flag WHEN '1' THEN  'SMT' WHEN '2' THEN 'DIP' WHEN '0' THEN '无' end smtFlagStr,
  		CASE a.bom_type WHEN '1' THEN (select
		y.classname from materiel_smallclass y
		where y.id=a.prod_code_sell_ptr
		) else
		(select f.name from dic_code_info f where
		f.code=a.prod_code_sell_ptr and
		f.type_code in('CP','BCP','XNCP')) end
		prodCodeSellPtrStr,
  		(select b.brandname from materiel_brand b where a.prod_supper=b.id ) prodSupperStr,
  		(select g.packagename from materiel_package g where g.id=a.package_ ) package_Str,
  		(select z.vsername from users z where z.id=a.edit_userid ) editUseridStr,a.* 
  		from materiel_bom_edit a,materiel_bom_ecn e where e.id=a.ecnid
  		and e.check_status!=3
  		<if test="version != null and version != '' " >
  			and a.version &lt;= #{version,jdbcType=INTEGER}
      	</if>
		and a.productid=#{productid}
		order by a.id
  </select>
  
  <select id="getMaxVersion" parameterType="Integer" resultType="Integer">
  		select t.version from materiel_bom_edit t ,materiel_bom_ecn e
		where e.id=t.ecnid
		and  t.productid=#{productid}  
		and e.check_status!=3
		order by t.version  desc limit 0,1
  </select>
  
  <select id="getAllVersion" resultType="java.util.HashMap" parameterType="java.util.Map" >
  		select DISTINCT t.version from materiel_bom_edit t ,materiel_bom_ecn e
		where e.id=t.ecnid
		and  t.productid=#{productid} 
		and e.check_status!=3
		order by t.version  desc limit 0,1
  </select>
  
  <select id="canImportBom" parameterType="java.util.Map" resultType="Integer">
  		select count(*) from materiel_bom  t where t.productid=#{productid}
  </select>
</mapper>