<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wondersgroup.application.basedao.dao.Ae11Dao">

 <insert id="save" parameterType="com.wondersgroup.application.basedao.bo.Ae11" >   
        insert into ae11(
                        baz032,<!-- 综合参数维护事件id-->
						aaz002,<!--业务日志id-->
						aae011,<!--经办人-->
						bae121,<!--经办人姓名-->
						aae036,<!--经办时间-->
						bae122,<!--复核人姓名-->
						aae015,<!--复核时间-->
						aae014,<!--复核人-->
						aae016,<!--复核标志-->
						aae012,<!--审批人-->
						bae123,<!--审批人姓名-->
						bae124,<!--审批时间-->
						aae013,<!--备注-->
						aaz499,<!--综合参数id-->
						aaa001,<!--参数类别代码-->
						aaa002,<!--参数类别名称-->
						aaa005,<!--参数值-->
						aaa104,<!--代码可维护标志-->
						aaa105,<!--参数值域说明-->
						aaa027,<!--统筹区编码-->
						aae030,<!--开始日期-->
						aae031<!--终止日期-->

                    
                       )       
                  values(
                        #{baz032,jdbcType=CHAR},<!-- 综合参数维护事件id-->
						#{aaz002,jdbcType=CHAR},<!--业务日志id-->
						#{aae011,jdbcType=VARCHAR},<!--经办人-->
						#{bae121,jdbcType=VARCHAR},<!--经办人姓名-->
						#{aae036,jdbcType=TIMESTAMP},<!--经办时间-->
						#{bae122,jdbcType=VARCHAR},<!--复核人姓名-->
						#{aae015,jdbcType=TIMESTAMP},<!--复核时间-->
						#{aae014,jdbcType=VARCHAR},<!--复核人-->
						#{aae016,jdbcType=VARCHAR},<!--复核标志-->
						#{aae012,jdbcType=VARCHAR},<!--审批人-->
						#{bae123,jdbcType=VARCHAR},<!--审批人姓名-->
						#{bae124,jdbcType=TIMESTAMP},<!--审批时间-->
						#{aae013,jdbcType=VARCHAR},<!--备注-->
						#{aaz499,jdbcType=CHAR},<!--综合参数id-->
						#{aaa001,jdbcType=VARCHAR},<!--参数类别代码-->
						#{aaa002,jdbcType=VARCHAR},<!--参数类别名称-->
						#{aaa005,jdbcType=VARCHAR},<!--参数值-->
						#{aaa104,jdbcType=VARCHAR},<!--代码可维护标志-->
						#{aaa105,jdbcType=VARCHAR},<!--参数值域说明-->
						#{aaa027,jdbcType=VARCHAR},<!--统筹区编码-->
						#{aae030,jdbcType=DECIMAL},<!--开始日期-->
						#{aae031,jdbcType=DECIMAL}<!--终止日期-->         
                   )	
  </insert>
  
  
   <update id="update" parameterType="com.wondersgroup.application.basedao.bo.Ae11">
        update ae11 
          <trim prefix="set" suffixOverrides=",">
              <if test="aaz002 != null and aaz002 != ''">aaz002 = #{aaz002,jdbcType=CHAR}, </if>
              <if test="aae011 != null and aae011 != ''">aae011 = #{aae011,jdbcType=VARCHAR}, </if>
              <if test="bae121 != null and bae121 != ''">bae121 = #{bae121,jdbcType=VARCHAR}, </if>
              <if test="aae036 != null and aae036 != ''">aae036 = #{aae036,jdbcType=TIMESTAMP}, </if>
              <if test="bae122 != null and bae122 != ''">bae122 = #{bae122,jdbcType=VARCHAR}, </if>
              <if test="aae015 != null and aae015 != ''">aae015 = #{aae015,jdbcType=TIMESTAMP}, </if>
              <if test="aae014 != null and aae014 != ''">aae014 = #{aae014,jdbcType=VARCHAR}, </if>
              <if test="aae016 != null and aae016 != ''">aae016 = #{aae016,jdbcType=VARCHAR}, </if>
              <if test="aae012 != null and aae012 != ''">aae012 = #{aae012,jdbcType=VARCHAR}, </if>             
              <if test="bae123 != null and bae123 != ''">bae123 = #{bae123,jdbcType=VARCHAR}, </if>
              <if test="bae124 != null and bae124 != ''">bae124 = #{bae124,jdbcType=TIMESTAMP}, </if>
              <if test="aae013 != null and aae013 != ''">aae013 = #{aae013,jdbcType=VARCHAR}, </if>
              <if test="aaz499 != null and aaz499 != ''">aaz499 = #{aaz499,jdbcType=CHAR}, </if>
              <if test="aaa001 != null and aaa001 != ''">aaa001 = #{aaa001,jdbcType=VARCHAR}, </if>
              <if test="aaa002 != null and aaa002 != ''">aaa002 = #{aaa002,jdbcType=VARCHAR}, </if>
              <if test="aaa005 != null and aaa005 != ''">aaa005 = #{aaa005,jdbcType=VARCHAR}, </if>         
              <if test="aaa104 != null and aaa104 != ''">aaa104 = #{aaa104,jdbcType=VARCHAR}, </if>
              <if test="aaa105 != null and aaa105 != ''">aaa105 = #{aaa105,jdbcType=VARCHAR}, </if>
              <if test="aaa027 != null and aaa027 != ''">aaa027 = #{aaa027,jdbcType=VARCHAR}, </if>
              <if test="aae030 != null and aae030 != ''">aae030 = #{aae030,jdbcType=DECIMAL}, </if>
              <if test="aae031 != null and aae031 != ''">aae031 = #{aae031,jdbcType=DECIMAL}, </if>
          </trim>
        where baz032 = #{baz032}
          
    </update>

</mapper>