<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/task 
    http://www.springframework.org/schema/task/spring-task-4.0.xsd">

   <mvc:annotation-driven/>
	<!-- 自动扫描该包，使SpringMVC认为包下用了@controller注解的类是控制器 -->
	 <context:component-scan base-package="com.wondersgroup.**.controller" />  
	 <!--  定时器开关 --> 
  <!-- 	 <task:annotation-driven />    -->

	
<mvc:interceptors>
  <mvc:interceptor><!--配置局部拦截器，需要满足下列路径条件-->
    <mvc:mapping path="/**/*.do"/>
    <bean class="com.wondersgroup.framework.adapter.PrivilegeInterceptor"/><!--自定义拦截器注册-->
  </mvc:interceptor>
  <!-- 我们可以直接在者注册自定义拦截器Bean来配置全局拦截器，会对所有请求拦截-->
</mvc:interceptors>
 	<!-- 引入配置文件 -->
	<!-- class="自己实现的PropertyPlaceholderConfigurer" -->
	<bean id="propertyConfigurer" class="com.wondersgroup.framework.redis.PropertyConfigurer">
		<property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:upms.properties</value>
            </list>
        </property>
	</bean> 
	
	<bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                  <ref bean="mappingJacksonHttpMessageConverter" />
                <bean  
                    class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/html;charset=UTF-8</value>  
                            <value>application/json;charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
            </list>  
        </property>  
    </bean>  
    
    <bean id="mappingJacksonHttpMessageConverter"  
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" > 
        
         <property name="supportedMediaTypes">  
                        <list>  
                          <value>text/html;charset=UTF-8</value>  
                          <value>application/json;charset=UTF-8</value>  
                        </list>  
                    </property>  
        
        </bean>        
	<!-- 定义跳转的文件的前后缀 ，视图模式配置-->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 这里的配置我的理解是自动给后面action的方法return的字符串加上前缀和后缀，变成一个 可用的url地址 -->
		<property name="prefix" value="" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="10485760000"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>

   
  
	<!-- 注册XmlViewResolver，用于iReport & JasperReports报表生成 -->
	<bean id="jasperReportResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order">
			<value>0</value>
		</property>
		<property name="location">
			<value>WEB-INF/jasper-views.xml</value>
		</property>
	</bean>
	<!-- vmc统一异常处理器-->
	<bean class="com.wondersgroup.framework.exception.SysHandlerExceptionResolver"></bean>  
</beans>  