<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wondersgroup.permission.user.dao.UserMapper">
	<select id="getUserByLoginname" resultType="com.wondersgroup.permission.user.vo.User"
		parameterType="java.lang.String">
		select * from users
		where removed = 0 and loginname = #{loginname}
	</select>
	<insert id="signin" parameterType="java.util.Map">
		INSERT into users (loginname,password,vsername,mobilephone,email,create_time,removed,address,status) 
		values(#{loginname},#{password},#{vsername},#{mobilephone},#{email},now(),0,#{address},'0');
	</insert>
</mapper>